<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miller.mapper.report.AutoExecutionRecordMapper">

    <resultMap id="selectPageByConditionMap" type="com.miller.entity.report.AutoExecutionRecordEntity">
        <!--        <result property="id" column="id"/>-->
        <!--        <result property="scenario_id" column="scenarioId"/>-->
        <!--        <result property="execution_type" column="executionType"/>-->
        <!--        <result property="execution_time" column="executionTime"/>-->
        <!--        <result property="execution_status" column="executionStatus"/>-->
        <!--        <result property="execution_user" column="executionUser"/>-->
        <!--        <result property="create_time" column="createTime"/>-->
        <!--        <result property="update_time" column="updateTime"/>-->
        <!--        <result property="is_deleted" column="isDeleted"/>-->
        <!--        <result property="development_time" column="developmentTime"/>-->
        <!--        <result property="maintenance_time" column="maintenanceTime"/>-->
        <!--        <result property="manual_test_time" column="manualTestTime"/>-->
        <!--        <result property="scenario_name" column="scenarioName"/>-->
    </resultMap>

    <select id="selectPageByCondition" resultMap="selectPageByConditionMap">

        SELECT aer.*,r.development_time,r.maintenance_time,r.manual_test_time,r.scenario_name
        FROM auto_execution_record aer LEFT JOIN auto_case_roi r on aer.scenario_id = r.scenario_id
        where aer.is_deleted = 0
        <if test="req.scenarioId != null and req.scenarioId.length()>0">
            and aer.scenario_id = #{req.scenarioId}
        </if>
        <if test="req.executionStartTime != null">
            and aer.execution_time > UNIX_TIMESTAMP(#{req.executionStartTime})* 1000
        </if>
        <if test="req.executionEndTime != null">
            and aer.execution_time &lt; UNIX_TIMESTAMP(#{req.executionEndTime})* 1000
        </if>

        <if test="req.executionUserList != null and req.executionUserList.size()>0">
            and aer.execution_user in
            <foreach collection="req.executionUserList" item="user" separator="," open="(" close=")">
                #{user}
            </foreach>
        </if>
        <if test="req.executionStatusList != null and req.executionStatusList.size()>0">
            and aer.execution_status in
            <foreach collection="req.executionStatusList" item="status" separator="," open="(" close=")">
                #{status}
            </foreach>
        </if>
        <if test="req.executionTypeList != null and req.executionTypeList.size()>0">
            and aer.execution_type in
            <foreach collection="req.executionTypeList" item="type" separator="," open="(" close=")">
                #{type}
            </foreach>
        </if>

        <if test="req.developmentTimeSymbol == 1">
            and r.development_time &lt; #{req.developmentTime}
        </if>
        <if test="req.developmentTimeSymbol == 2">
            and r.development_time = #{req.developmentTime}
        </if>
        <if test="req.developmentTimeSymbol == 3">
            and r.development_time > #{req.developmentTime}
        </if>

        <if test="req.maintenanceTimeSymbol == 1">
            and r.maintenance_time &lt; #{req.maintenanceTime}
        </if>
        <if test="req.maintenanceTimeSymbol == 2">
            and r.maintenance_time = #{req.maintenanceTime}
        </if>
        <if test="req.maintenanceTimeSymbol == 3">
            and r.maintenance_time > #{req.maintenanceTime}
        </if>

        <if test="req.manualTestTimeSymbol == 1">
            and r.manual_test_time &lt; #{req.manualTestTime}
        </if>
        <if test="req.manualTestTimeSymbol == 2">
            and r.manual_test_time = #{req.manualTestTime}
        </if>
        <if test="req.manualTestTimeSymbol == 3">
            and r.manual_test_time > #{req.manualTestTime}
        </if>
        <if test="req.orderBy == 1">
            ORDER BY execution_time DESC
        </if>
        <if test="req.orderBy == 0">
            ORDER BY execution_time ASC
        </if>

    </select>

    <resultMap id="selectAutoExecutionRecordWithProjectIdMap"
               type="com.miller.entity.report.resp.AutoCaseExecutionRecordRespDTO">
        <result property="id" column="id"/>
        <result property="scenario_id" column="scenarioId"/>
        <result property="execution_type" column="executionType"/>
        <result property="execution_time" column="executionTime"/>
        <result property="development_time" column="developmentTime"/>
        <result property="maintenance_time" column="maintenanceTime"/>
        <result property="manual_test_time" column="manualTestTime"/>
        <result property="project_id" column="projectId"/>
    </resultMap>

    <select id="selectAutoExecutionRecordWithProjectId"
            resultMap="selectAutoExecutionRecordWithProjectIdMap">
        SELECT DISTINCT e.id,
                        e.scenario_id,
                        e.execution_type,
                        e.execution_time,
                        e.development_time,
                        e.maintenance_time,
                        e.manual_test_time,
                        e.execution_status,
                        c.project_id
        from auto_execution_record e
                 LEFT JOIN auto_case_roi c on e.scenario_id = c.scenario_id
        WHERE e.is_deleted = 0
          and c.is_deleted = 0
          and e.execution_time >= #{startTime}
          and e.execution_time &lt;= #{endTime}
          and e.execution_type = #{executionType}
          and c.project_id = #{projectId}
        ORDER BY e.id desc
    </select>

    <resultMap id="selectDailyCaseExecutionResultMap" type="com.miller.entity.report.resp.AutoCaseExecutionDailyDTO">
        <result property="author" column="name"/>
    </resultMap>

    <select id="selectDailyCaseExecutionResult" resultMap="selectDailyCaseExecutionResultMap">
        SELECT e.scenario_id,
        r.scenario_name,
        e.execution_status,
        e.execution_type,
        e.execution_time,
        e.execution_user,
        u.name,
        r.project_id
        FROM auto_execution_record e
        LEFT JOIN auto_case_roi r on e.scenario_id = r.scenario_id
        INNER JOIN user u on r.author = u.email
        WHERE e.execution_time > UNIX_TIMESTAMP(#{date}) * 1000
        and e.execution_time &lt; UNIX_TIMESTAMP(#{date}) * 1000 + 1000*60*60*8
        and e.execution_status != #{executionStatus}
        <if test="projectId != null and projectId != ''">
            and r.project_id = #{projectId}
        </if>
        and e.execution_type = #{executionType}

    </select>

    <resultMap id="selectDailyCaseExecutionResultSummaryMap"
               type="com.miller.entity.report.resp.AutoCaseExecutionDailySummaryDTO">
        <result property="author" column="name"/>
        <result property="count" column="case_count"/>
        <result property="projectId" column="project_id"/>
    </resultMap>

    <select id="selectDailyCaseExecutionResultSummary" resultMap="selectDailyCaseExecutionResultSummaryMap">
        SELECT u.name,
        COUNT(a.scenario_id) AS case_count,
        a.project_id
        FROM auto_case_roi a
        INNER JOIN
        auto_execution_record e ON a.scenario_id = e.scenario_id
        INNER JOIN
        user u on a.author = u.email
        WHERE
        e.execution_time > UNIX_TIMESTAMP(#{date}) *1000
        AND e.execution_time &lt; UNIX_TIMESTAMP(#{date}) *1000 + 1000*60*60*8
        <if test="projectId != null and projectId != ''">
            and a.project_id = #{projectId}
        </if>
        <if test="executionStatusList != null and executionStatusList.size() > 0">
            and e.execution_status IN
            <foreach collection="executionStatusList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        and e.execution_type = #{executionType}
        GROUP BY
        a.author
        ORDER BY
        case_count DESC;
    </select>

</mapper>
