<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miller.mapper.report.AutoCaseRoiMapper">


    <select id="findByScenarioId"  resultType="com.miller.entity.report.AutoCaseRoiEntity">
        select *
        from auto_case_roi
        where scenario_id = #{scenarioId}
        limit 1
    </select>

    <select id="selectAutoCaseRoiProjectId" resultType="com.miller.entity.report.AutoCaseRoiEntity">
        SELECT acr.id, ubp.project_id
        FROM auto_case_roi acr
                 LEFT JOIN `user` u on acr.author = u.email
                 LEFT JOIN user_bind_project ubp on u.user_id = ubp.user_id
        WHERE acr.project_id = "" and acr.is_deleted = 0
    </select>

    <update id="updateCaseActive">
        UPDATE auto_case_roi AS roi
        SET roi.status = 1
        WHERE roi.status = 0
          AND roi.is_deleted = 0
          AND NOT EXISTS (
            SELECT 1
            FROM auto_execution_record AS rec
            WHERE rec.scenario_id = roi.scenario_id
              AND rec.is_deleted = 0
              AND rec.execution_time >= UNIX_TIMESTAMP() * 1000 - 7 * 24 * 3600 * 1000
        );
    </update>


</mapper>
