<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miller.mapper.platform.UserBindDeptMapper">
    <select id="selectByUserId" resultType="com.miller.entity.platform.UserBindDept">
        select * from user_bind_dept where user_id = #{userId} limit 1;
    </select>
</mapper>
