<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miller.userapp.mapper.game.ActivityConfigMapper">


    <update id="setActivityStatus">
        update hp_activity_config
        set sub_state  = #{subStatus},
            break_type = #{breakType}
        where activity_sn = #{activitySn}
    </update>
</mapper>
